<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/common.css"/>

    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <style>
        #mynetwork {
            border: 1px solid;
            height: 80vh;
        }
    </style>

</head>
<body>
    <header th:insert="~{common/header :: header}"></header>

    <div class="container-fluid">
        <div class="row bodySize">
            <div class="col-sm-1" style="background-color:#C2B7C7;"></div>
            <div class="col-sm-10">
                <div id="mynetwork"></div>
            </div>
            <div class="col-sm-1" style="background-color:#C2B7C7;"></div>
        </div>
    </div>

    <script src="/js/userGraph.js"></script>

    <footer th:insert="~{common/footer :: footer}"></footer>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>