<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head>
		<title>Subscription Page</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}"/>
	</head>
	<body>


		<div class="container-fluid text-center" style="background-color:#C2B7C7;">
			<div class="row vh-100">
				<div class="col-sm-3"></div>

				<div class="col-sm-6 d-flex flex-column justify-content-center">
					<div class='rounded' style="background-color:white;">
						<h1>To register</h1>
						<a href="/home"><img class="mb-3" th:src="@{/images/logo.png}" alt="Image description" width="75px" src=''></a>


						<form id="signup-form form-group mt-md-4" th:action="@{/subscription}" th:object="${user}" method="POST">

							<div class="form-outline mb-3 d-flex justify-content-center align-items-center col-10 offset-1">
								<label for="firstName" hidden>firstName</label>
								<input class="form-control" type="text" th:field="*{firstName}"  id="firstName" placeholder="FirstName" required>
								<p id="firstNameError" class="text-danger"></p>
							</div>
							<div class="form-outline mb-3 d-flex justify-content-center align-items-center col-10 offset-1">
								<label for="lastName" hidden>lastName</label>
								<input class="form-control" type="text" th:field="*{lastName}"  id="lastName" placeholder="LastName" required>
								<p id="lastNameError" class="text-danger"></p>
							</div>
							<div class="form-outline mb-3 d-flex justify-content-center align-items-center col-10 offset-1">
								<label for="username" hidden>Pseudonym</label>
								<input class="form-control" type="text" th:field="*{username}"  id="username" placeholder="Pseudo" required>
								<p id="usernameError" class="text-danger"></p>
							</div>
							<div class="form-outline mb-3 d-flex justify-content-center align-items-center col-10 offset-1">
								<label for="email" hidden>mail</label>
								<input class="form-control" type="text" th:field="*{email}"  id="email" placeholder="Email" required>
								<p id="emailError" class="text-danger"></p>
							</div>
							<div class="form-outline mb-3 d-flex justify-content-center align-items-center col-10 offset-1">
								<label for="password" hidden>password</label>
								<input type="password" class="form-control" th:field="*{password}" placeholder="Password" id="password" required>
								<label for="confirmPassword" hidden>password</label>
								<input type="password" class="form-control" placeholder="Confirm password" id="confirmPassword" required>
								<p id="passwordError" class="text-danger"></p>
							</div>

							<button type="submit" class="btn btn-outline-success">Subscription</button>
							<p><a class="text-black" href="/login">Already registered?</a></p>
						</form>


					</div>

				</div>

				<div class="col-sm-3"></div>
			</div>
		</div>

	





		<div id="alertContainer"></div>

		<footer th:insert="~{common/footer :: footer}"></footer>
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
		<script src="/js/subscription.js"></script>
	</body>
</html>